{% extends "base.html" %}
{% block title %}Customer List{% endblock %}
{% block content %}


  <h1>Customers</h1>

  {% if user.is_authenticated %}

  <a href="{% url 'add_customer' %}">(Add new)</a>

    <ul>
    {% for customer in object_list %}
        <li>
          {{ customer }} 
          <a href="{% url 'update_customer' customer.pk %}">(Edit)</a>
          <a href="{% url 'delete_customer' customer.pk %}">(Delete)</a>
        </li>
    {% endfor %}
    </ul>

  {% else %}
    <p>Please log in</p>

  {% endif %}

{% endblock %}