{% extends "base.html" %}
{% block title %}Edit Customer{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <h1>Редагувати клієнта: ({{ customer.pk }}) {{ customer.name }} {{ customer.surname }}</h1>
        <br><br>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}		
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Оновити</button>
            <a href="{% url 'customer_list' %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>

{% else %}
    <div class="container">
        <p>Ви не маєте доступу. Будь ласка, увійдіть в систему.</p>
    </div>
{% endif %}

{% endblock %}
