{% extends "base.html" %}
{% block title %}Vehicle List{% endblock %}
{% block content %}


  <h1>Vehicles</h1>

  {% if user.is_authenticated %}

    <table>
      <tr>
        <th>Car brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Licence plate</th>
        <th>Rental rate</th>
      </tr>

    {% for vehicle in object_list %}
        <tr>
          <td>{{vehicle.car_brand}}</td>
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.year}}</td>
          <td>{{vehicle.licence_plate}}</td>
          <td>{{vehicle.rental_rate}}</td>
          <td><a href="{% url 'update_vehicle' vehicle.pk %}">(Edit)</a></td>
          <td><a href="{% url 'delete_vehicle' vehicle.pk %}">(Delete)</a></td>
        </tr>
    {% endfor %}
    </table>

  {% else %}
    <p>Please log in</p>

  {% endif %}

{% endblock %}