{% extends "base.html" %}
{% block title %}Add Rental Agreement{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <h1>Створити новий договір оренди</h1>
        <br><br>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}		
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Створити</button>
            <a href="{% url 'rental_agreement_list' %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>

{% else %}
    <div class="container">
        <p>Ви не маєте доступу. Будь ласка, увійдіть в систему.</p>
    </div>
{% endif %}

{% endblock %}
