{% extends "base.html" %}
{% block title %}Delete Rental Agreement{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <h1>Видалити договір оренди</h1>
        <br><br>
        <h3>Видалити: {{ rentalagreement }}</h3>
        <br>

        <div>
            <form method="POST">
                {% csrf_token %}		
                <p class="lead">Ви хочете видалити договір оренди?</p>
                <button type="submit" class="btn btn-danger">Видалити</button>
                <a href="{% url 'rental_agreement_list' %}" class="btn btn-secondary">Назад</a>
            </form>
        </div>
    </div>

{% else %}
    <div class="container">
        <p>Ви не маєте доступу. Будь ласка, увійдіть в систему.</p>
    </div>
{% endif %}

{% endblock %}
