{% extends "base.html" %}
{% block title %}Edit Rental Agreement{% endblock %}
{% block content %}

{% if user.is_authenticated %}
	<h1>Редагувати договір оренди: {{ rental_agreement }}</h1>
	<br><br>

	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}		
			<br><br>
			<button class="btn btn-secondary">Оновити</button>
			<a href="{% url 'rental_agreement_list' %}" class="btn btn-secondary">Назад</a>
		</form>
	</div>

{% else %}

Ви не маєте доступу. Будь ласка, увійдіть в систему.

{% endif %}


{% endblock %}